body {
    background-color: rgb(247, 232, 246);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 17px;
    font-style: italic;
}

#form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 18px;
    font-style: italic;
}

#lyric {
    text-align: center;
}

#buttonSing {
    border: none;
    background-color: rgb(208, 203, 203);
    width: 100px;
    height: 25px;
    border-radius: 8px;
    font-size: 15px;
    font-style: italic;
}